<!DOCTYPE html>
<html>
	<head>
		<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}" />
		<link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}">
		<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
		{{ghost_head}}
	</head>
	<body>
		<div class="container">
			{{{body}}}
		</div>
		{{ghost_foot}}
		<script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
		<script type="text/javascript" src="//use.typekit.net/zai1pzr.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</body>
</html>